.env.local
.env*.local
node_modules
dist
dist-ssr
*.local

# Build artifacts
functions/lib
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Test artifacts
coverage
